<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.egeesappel" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>EgeeSappel</name>
    <description>Plugin e-GEE de lecture et programmation des modules SAPPEL</description>
    <license>e-GEE S.A.S</license>
    <keywords>egee, sappel, plugin, cordova</keywords>

    <!-- android -->

    <platform name="android">

        <config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.BLUETOOTH" />
          <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
          <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
          <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      </config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="EgeeSappel">
                <param name="android-package" value="cordova.plugin.egeesappel.EgeeSappel" />
                <param name="onload" value="true"/>>
            </feature>
        </config-file>

        <source-file src="src/android/EgeeSappel.java" target-dir="src/cordova/plugin/egeesappel" />
        <source-file src="src/android/libs/izar-library.2.3.1-android.jar" target-dir="app/src/main/libs/" framework="true"/>

         <js-module name="EgeeSappel" src="www/EgeeSappel.js">
            <runs/>
            <clobbers target="EgeeSappel" />
        </js-module>

         <js-module name="EgeeSappel" src="www/EgeeSappel.js">
            <runs/>
            <clobbers target="EgeeSappel" />
        </js-module>

    </platform>

</plugin>