<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.egeesappel" version="1.0.0" xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>EgeeSappel</name>
    <description>Plugin e-GEE de lecture et programmation des modules SAPPEL</description>
    <license>e-GEE S.A.S</license>
    <keywords>egee, sappel, plugin, cordova</keywords>

    <js-module name="EgeeSappel" src="www/EgeeSappel.js">
        <clobbers target="EgeeSappel" />
    </js-module>

    <!-- android -->

    <platform name="android">
		<framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
        
		<config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.BLUETOOTH" />
          <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
          <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
          <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		</config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="EgeeSappel">
                <param name="android-package" value="cordova.plugin.egeesappel.EgeeSappel" />
            </feature>
        </config-file>

        <source-file src="src/android/EgeeSappel.java" target-dir="src/cordova/plugin/egeesappel/EgeeSappel" />
        <source-file src="src/android/libs/izar-library.i-c-3.3.10-android.jar" target-dir="app/libs/"/>

    </platform>

</plugin>